name: apppoc
description: A Flutter 3.x multilingual demo
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  # Localization support (built into Flutter SDK)
  flutter_localizations:
    sdk: flutter

  # Internationalization
  intl: ^0.18.1

  # Store selected language persistently
  shared_preferences: ^2.2.3

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^3.0.1

flutter:
  uses-material-design: true
